{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block body %}
<marquee style="font-size: 60px;" behavior="scroll" direction="left"><b>Welcome To Users</b></marquee>
<div class="container">
    <p>Hello User's You Can Contact me for any kind of Software Related Works. I'm a free Lancer ready to server you. For Any Software Development . You Can Contact Me</p>
    <p>Contact : +91 7816093340</p>
    <p>E-Mail : rafeeq102003@gmail.com</p>
    <p>Address : Hyderabad</p>
    <p>Thank You ❤️</p>
    <p style="text-align: right;">A Product Designed By <b>Mohammed Rafeeq</b></p>
</div>
{% endblock body %}